h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 70px;
    font-family: 'Permanent Marker', cursive;
}
h2 {
    text-align: center;
}
body{
    background-image: url(img/fondoJuego.jpg);
    background-size: cover;
}
#pantallaPrincipal {
    text-align: center;
}
.imagenjuego {
    width: 500px;
    height: 250px;
    display:block;
    margin:auto;
    margin-bottom: 30px;
}
.imagencand {
    width: 45px;
    height: 45px;
}
.imagencand2 {
    width: 30px;
    height: 30px;
    position: left; 
}
.botonIngreso {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.botonIngreso:hover {
    background-color: rgb(0, 255, 128);
}
footer {
    text-align: right;
    font-size: 20px;
    font-family: 'Playball', cursive;
    margin-right: 0%;
    margin-top: 25%;   
}
textarea {
    border-radius: 5px;
    border: 3px solid rgb(208, 230, 12);
    box-shadow: 1px 1px 1px #999;
    text-align: left;
}
.botonDC {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgba(15, 0, 220, 0.795);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.botonDC:hover {
    background-color: rgba(0, 132, 255, 0.911);
}
.botonLimpiar {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgba(244, 248, 4, 0.911);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.botonLimpiar:hover {
    background-color: rgba(250, 144, 6, 0.911);
}
.texto {
    font-size:17px;
    font-family: 'Roboto Condensed', sans-serif;
}
.textoError {
    font-size:25px;
    font-family: cursive;
}
.mensajeError {
    font-size:25px;
    font-family: cursive;
}
.hide {
    display: none;
}
.inputText {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
}
.imagenTriste{
    width: 300px;
    height: 300px;
    display:block;
    margin:auto;
    margin-top: 30px;
}
/*Para quitar los botones del input numero*/
input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {

    -moz-appearance:textfield;

}
/*Fin del boton*/
/*Arreglando la pantalla contraseña*/
.formContrasenha{
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 310px;
    height: 260px;
    box-sizing: border-box;
    background: rgb(0, 0,0, 0.5);
    padding: 32px;
    border-radius: 20px;
    font-size: 17px;
    font-family: 'Roboto Condensed', sans-serif;
}
/*boton copiar*/
.em-clipboard{
float: right;
background-color: rgba(7, 7, 0, 0.911);
width: 40px;
height: 40px;
}
